<head>
    <link href="/assets/styles.css"  rel="stylesheet" type="text/css" />     
</head>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav> 
